<div class="min-h-screen flex flex-col bg-zinc-950">
  <header
    class="p-4 bg-zinc-900 shadow-2xl flex items-center justify-between border-b border-zinc-200"
  >
    <h1 class="text-2xl font-bold text-purple-400 tracking-widest">Angular FlowGuard App</h1>
    <nav class="p-4 flex gap-4">
      <a routerLink="/orders/new" class="underline text-blue-400">Criar</a>
      <a routerLink="/orders" class="underline text-orange-400">Lista</a>
    </nav>
  </header>

  <!-- ! Usar depois para navegar entre as interfaces -->

  <main class="flex-1 p-4">
    <router-outlet></router-outlet>
  </main>
</div>
