# Gradle
.gradle/
.gradle-cache/
build/
out/

# IntelliJ IDEA
.idea/
*.iml

# VS Code
.vscode/

# Eclipse / NetBeans
.project
.classpath
.settings/
nbproject/

# Logs
*.log

# Java artifacts
*.class
*.hprof

# Spring Boot local configs
application-local.*
.env

# OS files
.DS_Store
Thumbs.db